/* .clear-btn {
  margin-left: 330px;
  margin-top: 385px;
  position: fixed;
}

.reg-btn {
  margin-left: 230px;
  margin-top: 385px;
  position: fixed;
} */

/* .form {
  margin-left: 50px;
  margin-top: 2px;
} */
