/* .drawer-title-area {
  width: 55px;
  height: 48px;
} */

/* .draw {
  background-color: rgb(228, 231, 232);
  height: 100%;
  width: 400px;
  border: 1px solid white;
  position: fixed;
  top: 0px;
  transition: 0.2s;
  right: 400px;
  border: 1px solid #0b0a0b;
} */

/* .drawer-content-area {
  height: calc(100% - 48px - 48px);
} */

/* .shipLogo {
  position: absolute;
  right: 101%;
  top: -10px;
  text-align: left;
  color: #0b0a0b;
  margin-left: 6%;
  padding: 11px;
} */

/* .leftArrow {
  position: absolute;
  right: 101%;
  top: 1px;
  text-align: left;
  color: #0a0a0a;
  margin-left: -3%;
} */

/* .hr {
  width: 100%;
  margin-left: 0px;
  margin-top: -130px;
  background-color: #0b0a0b;
  border: 1px solid white;
  position: absolute;
} */
/* 
.hr1 {
  width: 100%;
  margin-left: 0%;
  background-color: #0b0a0b;
  border: 1px solid white;
  position: absolute;
  bottom: 0%;
  margin-bottom: 48px;
} */

/* .spacing {
  margin-left: 3%;
} */
